{% extends 'kibercat/base.html' %}
{% load static %}
{% block content %}
<div class="slon__page slon__page--brans slon__brands">
    <div class="container">
<!--        Навигация-->
        <ul class="breadcrumbs nav">
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="{% url 'info' %}">Информация</a></li>
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Производители</a></li>
        </ul>
        <div class="slon__page__header">
            <h1 class="h1">Бренды</h1>
        </div>
<!--        Отображение Брендов-->
        <div class="row no-gutters slon__brands__list">
            {% for obj in object %}
            <div class="col-lg-3 col-6">
                <a class="slon__brands__item" href="{{obj.product.get_absolute_url}}">
                    <div class="slon__brands__item__top"></div>
                    <div class="slon__brands__item__logo-box">
                        <img src="/media/{{ obj.image }}"
                             class="slon__brands__item__images" alt="">
                    </div>
                    <div class="slon__brands__item__bottom"></div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}