{% extends 'kibercat/base.html' %}
{% load static %}
{% block content %}
<div class="slon__page slon__page--guarantee">
    <div class="container">
        <ul class="breadcrumbs nav">
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Гарантия на товар</a>
            </li>
        </ul>
        <ul class="nav slon__page__tabs-nav">
            <li><a class="is_active" href="{% url 'warranty' %}">Гарантия</a></li>
            <li><a href="#">Заявка по гарантии</a></li>
            <li><a href="#">ВОЗВРАТ</a></li>
        </ul>
        <div class="slon__page__center-title">
            <h1>Гарантия</h1>
        </div>
    </div>
</div>
<div class="section__border">
    <div class="container tpad60">
        <div class="row">
            <div class="col-lg-12 fpad30 slon__main__text">
                <h2>Благодарим вас за покупку в интернет-магазине kibercat.ru!</h2>
                <p>Гарантия на продукцию не распространяется в случаях повреждения в результате несчастного случая,
                    нарушений правил разумной эксплуатации, неправильной сборки, использования с нарушением технических
                    характеристик и инструкции, стихийных бедствий или иной катастрофы, а также несанкционированных
                    изменений, ремонта или модификаций и иных повреждений, полученных после передачи покупателю.</p>
                <p>Если в течение гарантийного срока в устройстве выявлен существенный недостаток, предполагающий
                    невозможность его дальнейшее использование, то такое устройство либо его составная часть подлежит
                    замене.</p>
                <p>В соответствии с Перечнем,
                    утвержденным <a href="http://www.consultant.ru/document/cons_doc_LAW_373622/" target="_blank">
                        Постановлением Правительства Российской Федерации от 31.12.2020 года № 2463</a>, мебель относится к товарам
                    длительного пользования и на нее не распространяется требование Потребителя о безвозмездном
                    предоставления ему товара, обладающего этими же основными потребительскими свойствами, на период
                    ремонта или замены такого товара.</p>
                <p>Покупатель вправе отказаться от товара в любое время до его передачи, а после передачи товара – в
                    течение семи дней. Возврат товара надлежащего качества возможен в случае, если сохранены его
                    товарный вид, упаковка, потребительские свойства, а также документ, подтверждающий факт и условия
                    покупки указанного товара.</p>
            </div>
        </div>
        <div class="row fpad60">
            <div class="col-lg-8 slon__main__text fpad15">
                <h2>Что делать при возникновении гарантийного случая?</h2>
                <ol class="slon__ol-list">
                    <li>Оставить заявку в службу технической поддержки.</li>
                    <li>Приложить фотографии документов на покупку. Сообщить модель и серийный номер устройства. Описать
                        проблему и, если необходимо, выслать фотографии или видео, поясняющие ее.
                    </li>
                    <li>Дождаться решения службы гарантийной поддержки (2-3 рабочих дня). В спорных случаях служба
                        технической поддержки имеет право взять сломанное изделие на экспертизу и обязуется провести ее
                        в течение 20 календарных дней.
                    </li>
                </ol>
                <p><b>Просим обратить внимание, что иногда наши ответы на Ваши письма в службу гарантийной поддержки
                    могут быть помечены
                    как "Нежелательная почта" или "Спам", в связи с чем, для оперативного разрешения Ваших вопросов,
                    рекомендуем
                    проверять соответствующие папки почтового ящика.</b></p>
                <div class="slon__ol-list__footer-btn">
                    <a href="#"
                       class="slon__btn-border slon__btn-border--min slon__btn-border--yellow slon__btn-border--yellow--v2">
                        <span>ОСТАВИТЬ ЗАЯВКУ</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 tpad60 fpad15">
                <div class="slon__danger-block">
                    <div class="slon__danger-block__wrap slon__main__text text-center">
                        <svg class="d-inline-block mb-3" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 24" width="40" height="48">
                            <path fill="#eee417"
                                  d="M10,24l-.36-.16C9.2,23.67,0,19.51,0,12V5.47A3,3,0,0,1,2.05,2.64L10,0l8,2.64A3,3,0,0,1,20,5.47V12c0,8.58-9.29,11.76-9.68,11.89ZM10,2.1,2.68,4.52a1,1,0,0,0-.68,1V12c0,5.49,6.44,9.06,8.05,9.86,1.6-.64,8-3.6,8-9.86V5.47a1,1,0,0,0-.68-1Z"
                                  transform="translate(0 0)"></path>
                            <path fill="#eee417"
                                  d="M9.11,14.53h0a1.84,1.84,0,0,1-1.35-.6l-2.3-2.4,1.44-1.38,2.24,2.34,5.18-5.18,1.42,1.41L10.45,14a1.87,1.87,0,0,1-1.34.54"
                                  transform="translate(0 0)"></path>
                        </svg>
                        <p>В случае обнаружения заводского брака, все расходы по замене бракованного изделия служба
                            технической поддержки возьмет на себя.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}